.navbar-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    width: 100vw;
    height: 150px;
    font-family: "Poppins", serif;
    font-weight: 300;
    
}
.right-side{
width: 15%;

}
.center{
    width: 20%;
    
    
}
.left-side{
    width: 10%;
}

.center > ul{
    display: flex;
    /* justify-content: space-between; */
    gap: 10px;
}
.center > ul >li{
    transition: 2s;
}
.left-side{
    display: flex;
    gap: 10px;
}

.navbar-hr{
    content: '';
    position: absolute;
    top: 100px;
    width: 80%;
    height: 1px; /* suit your need */
    background: #ADADAD; /* suit your need */
    /* top: 100%; */
    left: 10;
}
.center > ul >li:hover{
    cursor: pointer;
    text-decoration: underline;
    margin-right: 5px;
}